body {
  font-size: 17px;
  line-height: 1.4;
  font-weight: 400;
  font-family: -apple-system, BlinkMacSystemFont, "Segoe UI", Roboto, Oxygen,
    Ubuntu, Cantarell, "Open Sans", "Helvetica Neue", sans-serif;
  margin: 0;
  padding: 0;
  width: 100%;
}
/* start of nav */
#menunav {
  height: auto;
  background: rgba(15, 15, 15, 0.355);
  backdrop-filter: blur(5px);
  position: fixed;
  width: 100%;
  display: flex;
  z-index: 999;
  justify-content: center;
  margin-top: -100px;
}
#navbarlarge {
  display: none;

  /* margin-right: 40px; */
}
#navbarsmall {
  display: flex;
  flex-flow: row wrap;
  align-items: center;
  height: auto;

  width: 100%;
  padding: 2.5%;
  justify-content: space-around;
}
#navbarsmall a {
  opacity: 80%;
  color: black;
  font-weight: 600;
  text-decoration: underline;
  font-size: 1.7em;
}
/* end of nav */

/*animation */
.bg {
  animation: slide 3s ease-in-out infinite alternate;
  background-image: linear-gradient(-66deg, #8d27a5 50%, #c86137 50%);
  bottom: 0;
  left: -0;
  opacity: 0.8;
  position: fixed;
  right: -50%;
  top: 0;
  z-index: -1;
}

.bg2 {
  animation-direction: alternate-reverse;
  animation-duration: 4s;
}

.bg3 {
  animation-duration: 5s;
}

@keyframes slide {
  0% {
    transform: translateX(-25%);
  }
  100% {
    transform: translateX(25%);
  }
}
/* .hero-image-containers {
  display: flex;
  margin: 40px;
} */

/* end of animation */
#main-hero-section {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  width: 100%;
  height: auto;
  position: relative;
  margin-top: 100px;
  gap: 30px;
}
.content {
  background-color: rgba(255, 255, 255, 0.6);
  border-radius: 0.25em;
  box-shadow: 0 0 0.25em rgba(0, 0, 0, 0.25);
  box-sizing: border-box;
  /* top: 50%; */
  font-size: 2.2em;
  font-weight: 700;
  /* margin-top: 50px; */
  text-align: center;
  width: 85vw;
  padding: 10px;
}

#main-hero-section h3 {
  font-size: 1.6em;
  /* margin-top: 80px; */
  font-weight: 500;
  width: 90%;
  text-align: center;
  padding: 25px;
}
.hero-important-terms {
  font-weight: 600;
  font-style: italic;
  background-image: linear-gradient(
    90deg,
    rgba(50, 140, 101, 1) 0%,
    rgba(69, 159, 116, 1) 35%,
    rgba(90, 190, 83, 1) 100%
  ) !important;
  background-size: 100%;
  -webkit-background-clip: text;
  -moz-background-clip: text;
  -webkit-text-fill-color: transparent;
  -moz-text-fill-color: transparent;
}
/* #main-hero-section div {
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: center;
  gap: 15px;
  width: 100%;
} */
.link-buttons {
  background-color: rgba(255, 255, 255, 0.4);
  border-radius: 0.5em;
  box-shadow: 0 0 0.25em rgba(0, 0, 0, 0.25);
  box-sizing: border-box;
  padding: 20px;
  color: rgba(27, 99, 113, 1);
  font-weight: 700 !important;
  font-size: 30px;
  text-decoration: none;
}
.link-button-containers {
  margin: 50px;
}

/* end of iphone section */
#first-project-section {
  background-color: rgba(255, 255, 255, 0.4);
  border-radius: 0.5em;
  box-shadow: 0 0 0.25em rgba(0, 0, 0, 0.25);
  box-sizing: border-box;
  padding: 10px;
  height: auto;
  display: flex;
  flex-direction: column;
  justify-content: flex-start;
  align-items: center;
  position: relative;
  margin-bottom: 100px;
  width: 100%;
}
.project-titles {
  font-size: 60px;
  /* margin-bottom: 0px;
  margin-top: 0px; */
  color: black;
  padding-top: 30px;
  margin-bottom: 0px;
  text-decoration: underline;
  text-align: center;
}
.project-subtitles {
  font-size: 2em;
  margin-bottom: 0px;
  margin-top: 0px;
  color: black;
  padding-top: 0px;
  text-align: center;
}
.image-labels {
  font-size: 1.5em;
  margin-top: 0px;
  font-weight: 500;
  color: black;
  text-align: center;
  text-decoration: underline;
}
.project-description {
  font-size: 1.2em;
  font-weight: 500;
  text-align: center;
  width: 50%;
  height: auto;
  color: black;
  /* margin-top: 0px; */
  display: inline-block;
}

#second-project-section {
  background-color: rgba(255, 255, 255, 0.4);
  border-radius: 0.5em;
  box-shadow: 0 0 0.25em rgba(0, 0, 0, 0.25);
  box-sizing: border-box;
  padding: 10px;
  height: auto;
  display: flex;
  flex-direction: column;
  justify-content: flex-start;
  align-items: center;
  position: relative;
  margin-top: 15px;
}

.project-hero-image-containers {
  display: flex;
  margin: 25px;
  padding: 2vw;
  flex-direction: row;
  align-items: center;
  justify-content: center;
  gap: 10vw;
  width: 85%;
}

.project-card-containers {
  display: flex;
  padding-top: 25px;
  margin-top: 25px;
  margin-bottom: 50px;
  flex-direction: row;
  align-items: center;
  justify-content: center;
  gap: 5vw;
  width: 85%;
}
@keyframes enlarge {
  0% {
    transform: scale(1);
  }
  50% {
    transform: scale(1.1);
  }
  100% {
    transform: scale(1);
  }
}

#project1-hero-image {
  border-radius: 8%;
  animation: 5s ease-out 0s 100 enlarge;
  width: 50%;
}

#project1-wireframe-image {
  width: 50vw;
  height: 350px;
  object-fit: cover;
  object-position: -15px -10px;
  border-radius: 10%;
  animation: 5s ease-out 0s 100 enlarge;
}
#project1-uidesign-image {
  width: 60vw;
  border-radius: 10%;
  animation: 5s ease-out 0s 100 enlarge;
}
#project1-database-image {
  width: 45vw;
  height: 350px;
  border-radius: 8%;
  animation: 5s ease-out 0s 100 enlarge;
}
#project1-mvp-image {
  width: 60vw;
  height: 300px;
  border-radius: 8%;
  animation: 5s ease-out 0s 100 enlarge;
}

#project2-hero-image {
  border-radius: 8%;
  animation: 5s ease-out 0s 100 enlarge;
  width: 95%;
}
#project2-responsive-image {
  width: 45vw;
  border-radius: 8%;
  animation: 5s ease-out 0s 100 enlarge;
}
#project2-css-image {
  width: 50vw;
  border-radius: 8%;
  height: 400px;
  object-fit: cover;
  object-position: -100px 0px;
  animation: 5s ease-out 0s 100 enlarge;
}
#project2-hero {
  flex-direction: column;
}
#project2-hero-description {
  width: 80%;
}

/* .image-labels {
  font-size: 3em;
  width: 30vw;
} */

#third-project-section {
  background-color: rgba(255, 255, 255, 0.4);
  border-radius: 0.5em;
  box-shadow: 0 0 0.25em rgba(0, 0, 0, 0.25);
  box-sizing: border-box;
  padding-top: 10px;
  padding-bottom: 10px;
  height: auto;
  display: flex;
  flex-direction: column;
  justify-content: flex-start;
  align-items: center;
  position: relative;
  margin-bottom: 100px;
  margin-top: 100px;
}

/*  change bg color */
#footer {
  display: flex;
  flex-flow: row nowrap;
  /* justify-content: space-between; */
  /* align-items: center; */
  /* align-self: center; */
  width: 100%;
  height: auto;
  background: rgba(15, 15, 15, 0.665);
  backdrop-filter: blur(4px);

  z-index: 999;
}
#footer-info {
  margin: auto;
  opacity: 80%;
  color: white;
  font-weight: 600;
  font-size: 1.5em;
  padding: 2.5vw;
}
#footer a {
  display: flex;
  color: white;
  text-decoration: none;
  gap: 20px;
  justify-content: center;
}
.footer-icons {
  width: 50px;
  align-content: center;
  align-self: center;
  justify-self: center;
}

@media screen and (min-width: 415px) {
  #menunav {
    height: 70px;
    width: 100%;
  }

  #navbarsmall {
    display: none;
  }
  #navbarlarge {
    display: flex;

    flex-flow: row nowrap;
    /* justify-content: space-between; */
    /* align-items: center; */

    width: 100%;

    height: auto;

    /* padding: 2.5%; */
    justify-content: space-around;
  }
  #navbarlarge a {
    font-size: 30px;
    opacity: 80%;
    color: black;
    text-decoration: none;
    font-weight: 600;
  }
  #navbarlarge a:hover {
    opacity: 100%;
  }
  #navbarlarge li {
    display: inline;
  }

  /* end of navbar large*/
  #main-hero-section {
    height: 750px;
    /* background-size: cover;
    background-repeat: no-repeat;
    background-position: center; */
    width: 100%;
  }

  #main-hero-section h2 {
    font-size: 3em;
    padding-top: 50px;
    margin: auto;
    font-weight: 600;
    padding-bottom: 50px;
  }

  #first-project-section {
    margin-top: 65px;
    height: auto;
    width: 100%;
    display: flex;
  }
  .link-button-containers {
    /* display: flex; */
  }
  .link-buttons:hover {
    color: limegreen !important;
  }
  #second-project-section {
    margin-top: 25px;
    height: auto;
    margin-bottom: 40px;
  }
  .project-hero-image-containers {
    display: flex;
    /* margin: 20px; */
    flex-direction: row;
    align-items: center;
    justify-content: center;
    gap: 2.5vw;
    width: 90%;
  }

  .project-card-containers {
    display: flex;
    margin-top: 25px;
    margin-bottom: 25px;
    padding-top: 25px;
    padding-bottom: 25px;
    flex-direction: row;
    align-items: center;
    justify-content: center;
    gap: 10vw;
    width: 100%;
  }
  /* .project-image-container {
    width: 90vw;
  } */

  .project-titles {
    font-size: 4em;
  }
  .project-subtitles {
    font-size: 3em;
    color: black;
  }
  .project-description {
    font-size: 2.5em;
  }
  #project1-hero-image {
    border-radius: 8%;
    overflow: hidden;
    width: 35vw;
    height: 900px;
    transition: transform 0.5s ease;
  }
  #project1-hero-image:hover {
    transform: scale(1.25);
  }
  #project2-hero-image {
    border-radius: 8%;
    overflow: hidden;
    width: 70vw;
    transition: transform 0.5s ease;
  }
  /* #project2-hero-description {
    margin-top: 0;
  } */

  #project2-hero-images:hover {
    transform: scale(1.25);
  }
  #project1-wireframe-image {
    width: 45vw;
    border-radius: 10%;
    transition: transform 0.5s ease;
    object-fit: cover;
    object-position: center;
  }
  #project1-uidesign-image {
    width: 40vw;
    height: 600px;
    border-radius: 10%;
    transition: transform 0.5s ease;
  }
  #project1-database-image {
    width: 35vw;
    height: 700px;
    border-radius: 8%;
    transition: transform 0.5s ease;
  }
  #project1-mvp-image {
    width: 35vw;
    height: 700px;
    border-radius: 8%;
    transition: transform 0.5s ease;
  }

  #project2-responsive-image {
    width: 30vw;
    height: 800px;
    border-radius: 8%;
    transition: transform 0.5s ease;
  }
  #project2-css-image {
    width: 45vw;
    border-radius: 8%;
    transition: transform 0.5s ease;
    object-fit: cover;
    object-position: center;
  }
  .image-containers img:hover {
    transform: scale(1.2);
  }
  .image-labels {
    font-size: 3em;
    width: 30%;
  }

  #footer {
    display: flex;
    height: auto;
    flex-flow: row nowrap;
    justify-content: space-between;
    align-items: center;
    align-self: center;
    width: 100%;
    height: auto;
    background: rgba(15, 15, 15, 0.665);
    backdrop-filter: blur(4px);

    z-index: 999;
  }
  #footer-info {
    /* margin-left: 5vw; */
    opacity: 80%;
    color: white;
    font-weight: 600;
    padding: 25px;
  }
  #footer a {
    color: white;
    text-decoration: none;
  }
  .footer-icons {
    width: 25px;
    align-content: center;
    align-self: center;
    justify-self: center;
  }
}
@media screen and (min-width: 800px) {
  #project1-hero-image {
    width: 25vw;
    height: 750px;
  }

  #project1-wireframe-image {
    width: 35vw;
  }
  #project1-uidesign-image {
    width: 30vw;
    height: 600px;
  }
  #project1-database-image {
    width: 30vw;
    height: 600px;
  }
  #project1-mvp-image {
    width: 30vw;
    height: 600px;
  }
  #project2-hero-image {
    overflow: hidden;
    width: 65vw;
  }
  #project2-responsive-image {
    width: 20vw;
    height: 700px;
  }
  #project2-css-image {
    width: 35vw;
  }
}
